#cancellationFrame{
    height: 40vh;
    width: 40vw;
    margin-top: 2%;
    margin-left: 6%;
}
#queryLayout2{
    height: 15vh;
    width: 40vw;
    display: inline-block;
}
#queryLayout3 {
    height: 12vh;
    width: 50vw;
}
#cancellationPrompt{
    text-align: center;
}
#cancellationBut1{
    width: 23%;
    height: 75%;
    box-shadow: 0 15px 25px limegreen;
    margin-left: 25%;
}
#cancellationBut2{
    width: 23%;
    height: 75%;
    margin-left: 3%;
    box-shadow: 0 15px 25px orangered;
}
