
body {
    padding: 0;
    background: url("../assets/bc.png");
    font-family: sans-serif;
    background-size: cover;
}

#enrollFrame {
    margin-left: 40%;
    width: 50%;
    display: flex;
    border: 1vw solid rgba(0, 0, 0, 0);
}

#titlez {
    width: 100%;
    display: flex;
    margin-left: 1%;
}

#title_imz {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 100);
    font: italic bold 40px/40px Georgia, serif;
}

.el-form-item  {
    margin-left: 5%;
}

#seventhE {
    margin-left: 5%;
    margin-top: 13px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 100);
}

#eighthE {
    margin-left: 5%;
    margin-top: 13px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 100);
}

.el-form{

}
