
body {
    margin: 0;
    padding: 0;
    background: url("../assets/bc.png");
    font-family: sans-serif;
    background-size: cover;
}

#Frame {
    height: 99vh;
    width: 100vw;
    display: flex;
    item-center: center;
    border: 1px solid rgba(0, 0, 0, 0);
}

#title {
    height: 20vh;
    width: 100vw;
    display: flex;
}

#first {
    height: 20vh;
    width: 100vw;
    display: flex;
}

#second {
    height: 20vh;
    width: 100vw;
    display: flex;
}

#third {
    height: 20vh;
    width: 100vw;
    display: flex;
}

#prompt {
    height: 20vh;
    width: 100vw;
    display: flex;
}

#title_im {
    margin-left: 30%;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 100);
    font: italic bold 40px/40px Georgia, serif;
}

#saveBut {
    margin-top: 9%;
    margin-left: 25%;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 100);
}

#takeBut {
    margin-top: 9%;
    margin-left: 47%;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 100);
}

#historyBut {
    margin-top: 9%;
    margin-left: 25%;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 100);
}

#queryBut {
    margin-top: 9%;
    margin-left: 47%;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 100);
}

#cancellation {
    margin-top: 4%;
    margin-left: 73.6%;
}

#prompt_text {
    height: 10vh;
    width: 100vw;
    margin-top: 10vh;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: red;
}

#index {
    margin-top: 5vh;
    height: 50vh;
    width: 47vw;
    margin-left: 52vh;
}
